.btn {
  border-radius: 16px;
  width: 96px;
  padding: 16px 24px;
  transition: filter 0.1s linear;
}

.btn:hover {
  filter: brightness(0.9);
}

.btn:active {
  filter: brightness(0.7);
  outline: none;
}

.btn:disabled {
  filter: opacity(0.5);
}
